body {
    font-weight: bold;
    background-color: #86819e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}
form {
    background: #261f32;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 400px;
} 
.form-label {
   margin-bottom: 0px; /* เพิ่มระยะห่างระหว่าง label และ input */
   font-weight: bold;
   color: #fbfafb;
}
h1{
    color: #fbfafb;
}
.form-control {
    background-color: #cfcdd4;
    border: none;
}

.btn-login {
    background-color: #594ba0;
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    font-weight: bold;
}
.btn-login:hover {
    background-color: #5563DE;
}
.divider {
    margin: 20px 0;
    border-bottom: 1px solid #41394f;
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}